<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxin.alumni_management.mapper.ActivityMapper">

    <resultMap id="ActivityMap" type="Activity">
        <!-- column是查询结果的列名, property是对应实体类中的属性名 -->
        <id column="activityId" jdbcType="INTEGER" property="activityId"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="departmentId" jdbcType="INTEGER" property="departmentId"/>
        <result column="activityContent" jdbcType="VARCHAR" property="activityContent"/>
        <result column="activityHTMLContent" jdbcType="VARCHAR" property="activityHTMLContent"/>
        <result column="activityTitle" jdbcType="VARCHAR" property="activityTitle"/>
        <result column="activityTabloid" jdbcType="VARCHAR" property="activityTabloid"/>
        <result column="activityDate" jdbcType="TIMESTAMP" property="activityDate"/>
        <result column="activityFileName" jdbcType="VARCHAR" property="activityFileName"/>
        <!-- 多表查询时连接user属性段 -->
        <association property="department" javaType="Department" >
            <id column="departmentId" jdbcType="INTEGER" property="departmentId"/>
            <result column="departmentName" jdbcType="VARCHAR" property="departmentName"/>
        </association>
    </resultMap>


    <select id="selAllActivity" resultMap="ActivityMap">
        select * from activity join department on activity.departmentId = department.departmentId where status = 2 order by activityDate desc
    </select>

    <insert id="insActivity" parameterType="activity">
        insert into activity (userId, departmentId, activityContent, activityHTMLContent, activityTitle, activityTabloid, activityDate, activityFileName)
        values (#{userId}, #{departmentId}, #{activityContent}, #{activityHTMLContent}, #{activityTitle}, #{activityTabloid}, #{activityDate}, #{activityFileName})
    </insert>

    <select id="selActivityById" resultMap="ActivityMap" parameterType="int">
        select * from activity join department on activity.departmentId = department.departmentId where activityId = #{activityId}
    </select>
</mapper>