<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxin.alumni_management.mapper.ArticleMapper">

    <insert id="insNewsArticle" parameterType="NewsArticle" >
        insert into news_article(adminId, departmentId, newArticleContent, newArticleHTMLContent, newArticleTitle, newArticleTabloid, newArticleDate, newImageName)
        values (#{adminId}, #{departmentId}, #{newArticleContent}, #{newArticleHTMLContent}, #{newArticleTitle}, #{newArticleTabloid}, #{newArticleDate}, #{newImageName})
    </insert>

    <select id="findAllNewsArticle" resultType="NewsArticle">
        select * from news_article where status = 1 order by newArticleDate desc
    </select>

    <select id="findArticleById" resultType="NewsArticle" parameterType="int">
        select *
        from news_article where newArticleId = #{newArticleId};
    </select>

    <select id="findTop3Article" resultType="newsArticle">
        select * from news_article where status = 1 and newImageName != 'news_default.png' order by newArticleDate desc limit 3 ;
    </select>

</mapper>