<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxin.alumni_management.mapper.RegisterUserMapper">

    <select id="findAllRegisterUser" resultType="RegisterUser" parameterType="int">

        select * from register_user where departmentId=#{departmentId} and status=0

    </select>

    <update id="updUserStatus" parameterType="int">
        update register_user set status = #{status} where registerId = #{registerId}
    </update>

</mapper>