<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/3/20
  Time: 16:26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<header class="header" th:fragment="topbar">
    <nav class="navbar">
        <!-- Search Box-->
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
        </div>
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <!-- Navbar Header-->
                <div class="navbar-header">
                    <!-- Navbar Brand --><a href="index.html" th:href="@{/toIndex}" class="navbar-brand d-none d-sm-inline-block">
                    <div class="brand-text d-none d-lg-inline-block"><span>用户 </span><strong>首页</strong></div>
                    <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
                    <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                </div>
                <!-- Navbar Menu -->
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Search-->
<!--                    <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>-->
                    <!-- Notifications-->
                    <!-- Logout    -->
                    <li class="nav-item">
                        <a class="nav-link logout" th:href="@{/admin/logout}">
                            <span class="d-none d-sm-inline">Logout</span>
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<nav class="side-navbar" th:fragment="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
<!--        <div class="avatar"><img src="img/avatar-1.jpg" th:src="@{/backadmin/img/avatar-1.jpg}" alt="..." class="img-fluid rounded-circle"></div>-->
        <div class="title">
            <h1 class="h4" style="text-align: center">[[${session.admin.getNickName}]]</h1>
            <p style="text-align: center" th:text="${session.admin.getDepartment().getDepartmentName()} + '管理员'">Web Designer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'main.html' ? 'active' : ''}"><a href="index.html" th:href="@{/toDashboard}" > <i class="icon-home"></i>主页 </a></li>
        <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'user_info.html' ? 'active' : ''}"><a href="tables.html" th:href="@{/toUserInfoPage}"> <i class="icon-grid"></i>用户基本信息 </a></li>
        <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'chart_management.html' ? 'active' : ''}"><a href="charts.html" th:href="@{/toHomePage}"> <i class="fa fa-bar-chart"></i>校友统计 </a></li>
        <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'forum_management.html' ? 'active' : ''}"><a href="forms.html" th:href="@{/toForumManagementPage}"> <i class="icon-check"></i>校友论坛文章管理 </a></li>
<!--        <li th:class="${active == 'news_management.html' ? 'active' : ''}"><a href="forms.html" th:href="@{/toNewsManagementPage}"> <i class="icon-padnote"></i>新闻文章管理 </a></li>-->
        <li th:class="${active == 'news_examine.html' || active == 'news_management.html' || active == 'news_write.html' ? 'active' : ''}"><a href="#newsDropdown" aria-expanded="false" data-toggle="collapse" th:attr="aria-expanded=${active == 'news_examine.html' || active == 'news_management.html' || active == 'news_write.html' ? 'true' : 'false'}"> <i class="icon-padnote"></i>新闻管理 </a>
            <ul id="newsDropdown" class="collapse list-unstyled " th:class="${active == 'news_examine.html' || active == 'news_management.html' || active == 'news_write.html' ? 'collapse list-unstyled show' : 'collapse list-unstyled'}">
                <li th:if="${session.admin.getDepartmentId() eq 1000}" th:class="${active == 'news_admin_examine.html' ? 'active' : ''}"><a href="#" th:href="@{/toExamineNewsManagementPage}">新闻审核</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'news_management.html' ? 'active' : ''}"><a href="#" th:href="@{/toNewsManagementPage}">已发布新闻管理</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'news_write.html' ? 'active' : ''}"><a href="#" th:href="@{/toWritePage}">新闻发布</a></li>
            </ul>
        </li>

<!--        <li th:class="${active == 'alumniHelp_management.html' ? 'active' : ''}"><a href="forms.html" th:href="@{/toAlumniHelpManagementPage}"> <i class="icon-bill"></i>校友帮扶文章管理 </a></li>-->
        <li th:class="${active == 'alumniHelp_examine.html' || active == 'alumniHelp_management.html' || active == 'alumniHelp_write.html' ? 'active' : ''}"><a href="#helpDropdown" aria-expanded="false" data-toggle="collapse" th:attr="aria-expanded=${active == 'alumniHelp_examine.html' || active == 'alumniHelp_management.html' || active == 'alumniHelp_write.html' ? 'true' : 'false'}"> <i class="icon-bill"></i>校友帮扶管理</a>
            <ul id="helpDropdown" class="collapse list-unstyled " th:class="${active == 'alumniHelp_examine.html' || active == 'alumniHelp_management.html' || active == 'alumniHelp_write.html' ? 'collapse list-unstyled show' : 'collapse list-unstyled'}">
                <li th:if="${session.admin.getDepartmentId() eq 1000}" th:class="${active == 'alumniHelp_examine.html' ? 'active' : ''}"><a href="#" th:href="@{/toExamineAlumniHelpPage}">帮扶信息审核</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'alumniHelp_management.html' ? 'active' : ''}"><a href="#" th:href="@{/toAlumniHelpManagementPage}">已发布帮扶信息管理</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'alumniHelp_write.html' ? 'active' : ''}"><a href="#" th:href="@{/help/toAlumniHelpWritePage}">帮扶发布</a></li>
            </ul>
        </li>
<!--        <li th:class="${active == 'alumniPhoto_management.html' ? 'active' : ''}"><a href="forms.html" th:href="@{/toAlumniPhotoManagementPage}"> <i class="icon-bill"></i>校友风采展示文章管理 </a></li>-->
        <li th:class="${active == 'alumniPhoto_examine.html' || active == 'alumniPhoto_management.html' || active == 'alumniPhoto_write.html' ? 'active' : ''}"><a href="#photoDropdown" aria-expanded="false" data-toggle="collapse" th:attr="aria-expanded=${active == 'alumniPhoto_examine.html' || active == 'alumniPhoto_management.html' || active == 'alumniPhoto_write.html' ? 'true' : 'false'}"> <i class="icon-picture"></i>校友风采展示管理</a>
            <ul id="photoDropdown" class="collapse list-unstyled " th:class="${active == 'alumniPhoto_examine.html' || active == 'alumniPhoto_management.html' || active == 'alumniPhoto_write.html' ? 'collapse list-unstyled show' : 'collapse list-unstyled'}">
                <li th:if="${session.admin.getDepartmentId() eq 1000}" th:class="${active == 'alumniPhoto_examine.html' ? 'active' : ''}"><a href="#" th:href="@{/toExamineAlumniPhotoPage}">风采展示信息审核</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'alumniPhoto_management.html' ? 'active' : ''}"><a href="#" th:href="@{/toAlumniPhotoManagementPage}">已发布风采信息管理</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'alumniPhoto_write.html' ? 'active' : ''}"><a href="#" th:href="@{/toAlumniPhotoWritePage}">风采展示发布</a></li>
            </ul>
        </li>
        <li th:class="${active == 'activity_examine.html' || active == 'activity_management.html' || active == 'activity_admin_examine.html' ? 'active' : ''}"><a href="#activityDropdown" aria-expanded="false" data-toggle="collapse" th:attr="aria-expanded=${active == 'activity_examine.html' || active == 'activity_management.html' || active == 'activity_admin_examine.html' ? 'true' : 'false'}"> <i class="icon-interface-windows"></i>校友活动管理 </a>
            <ul id="activityDropdown" class="collapse list-unstyled" th:class="${active == 'activity_examine.html' || active == 'activity_management.html' || active == 'activity_admin_examine.html' ? 'collapse list-unstyled show' : 'collapse list-unstyled'}">
                <li th:if="${session.admin.getDepartmentId() eq 1000}" th:class="${active == 'activity_admin_examine.html' ? 'active' : ''}"><a href="#" th:href="@{/toActivityExamineAdminManagementPage}">总学院活动审核</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'activity_examine.html' ? 'active' : ''}"><a href="#" th:href="@{/toActivityExamineManagementPage}">活动审核</a></li>
                <li th:if="${session.admin.getDepartmentId() ne 1000}" th:class="${active == 'activity_management.html' ? 'active' : ''}"><a href="#" th:href="@{/toActivityManagementPage}">已发布活动管理</a></li>
            </ul>
        </li>

        <li th:if="${session.admin.getDepartmentId() eq 1000}" th:class="${active == 'admin_info.html' ? 'active' : ''}"><a href="charts.html" th:href="@{/toAdminInfoPage}"> <i class="fa fa-users"></i>二级学院管理员管理</a></li>

    </ul>
</nav>


<!-- 底边栏 -->
<footer class="main-footer" th:fragment="footerbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright &copy; YOUXIN LIAO.<a target="_blank" href="http://www.pzhu.cn/">PZHU</a></p>
            </div>
            <div class="col-sm-6 text-right">
                <p></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>