<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/3/27
  Time: 15:54
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="topbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" th:href="@{/toIndex}">首页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${active == 'news' ? 'nav-link active' : 'nav-link'}">
                    <a href="#" th:href="@{/toIndex}">新闻发布</a>
                </li>
                <li th:class="${active == 'alumniActivity' ? 'nav-link active' : 'nav-link'}">
                    <a href="#" th:href="@{/toActivityPage}">校友活动</a>
                </li>
                <li th:class="${active == 'alumniForum' ? 'nav-link active' : 'nav-link'}">
                    <a href="#" th:href="@{/toAlumniForum}">校友论坛</a>
                </li>
                <li th:class="${active == 'alumniHelp' ? 'nav-link active' : 'nav-link'}">
                    <a href="#" th:href="@{/help/toAlumniHelp}">校友帮扶</a>
                </li>
                <!--<li>
                    <a href="#">校友相册墙</a>
                </li>-->
                <li th:class="${active == 'alumniPhoto' ? 'nav-link active' : 'nav-link'}">
                    <a href="#" th:href="@{/toPhotoPage}">校友风采展示</a>
                </li>

            </ul>
            <!--<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" />
                </div> <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" th:href="${session.user} == null ? @{/toLogin} : @{/#}" th:text="${session.user} == null ? '登录/注册' : ${session.user.getNickName}" th:style="'color:' + @{(${session.user} == null ? '#103858' : 'green')} + ''">登录/注册</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="#" th:href="@{/loginout}">登出</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/toUpdatePage}">修改个人信息</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/toChangePasswordPage}">修改密码</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>


    <!-- 底部信息栏 -->
    <div class="row clearfix" th:fragment="buttombar">
        <div class="col-md-12 column" style="text-align: center">
            <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
            <a th:href="@{/toAdminLogin}" th:text="管理员后台登陆入口"></a>
        </div>
    </div>




</html>