<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/3/27
  Time: 16:05
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 使用X-UA-Compatible来设置IE浏览器兼容模式，最新的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
        viewport表示用户是否可以缩放页面;width指定视区的逻辑宽度;
        device-width指示视区宽度应为设备的屏幕宽度;
        initial-scale指令用于设置web页面的初始缩放比例;
        initial-scale=1则将显示未经缩放的web文档
     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>写文章</title>
    <!-- 网页图标引入 -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" >
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/dist/css/editormd/editor.css}">
    <link rel="stylesheet" th:href="@{/dist/css/editormd/editormd.min.css}">


</head>
<body>
    <div th:replace="~{commons/commons.html::topbar(active = 'news')}"></div>


    <div id="writeArticle" style="padding-top: 3%; padding-left: 5%; padding-right: 5%; padding-bottom: 3%">
        <div class="zhy-editor">
            <div class="zhy-editor-input">
                <input id="zhy-editor-title" type="text" placeholder="输入文章标题">
                <button type="button" class="publishBtn btn btn-success" style="position: relative;left: 20px" data-toggle="modal" data-target="#myModal">发布新闻文章</button>
            </div>
        </div>
        <div class="zhy-editor-writing">
            <!--MarkDown的id标志 -->
            <div id="my-editormd">
                <!-- 书写与实时显示的textarea -->
                <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
                <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。 -->
                <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
            </div>
        </div>

        <div class="notice-box notice-box-title">
            <span> 文章标题不能为空</span>
        </div>
        <div class="notice-box notice-box-content">
            <span> 文章內容不能为空</span>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">发布文章</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="publish-tag" style="margin-left: 10px">文章类型<strong>:</strong></label>
                        <div class="type">
                            <select id="select-type">
                                <option value="choose" selected>请选择</option>
                                <option value="newsArticle">新闻发布</option>
                                <option value="activityArticle">校友活动</option>
                                <option value="helpArticle">校友帮扶</option>
                                <option value="photoArticle">校友相册墙</option>
                                <option value="showArticle">校友风采展示</option>
                            </select>
                            <span class="required">*</span>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            Level 1: .col-sm-9
                            <div class="row">
                                <div class="col-xs-8 col-sm-6">
                                    Level 2: .col-xs-8 .col-sm-6
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    Level 2: .col-xs-4 .col-sm-6
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!--<button type="button" class="surePublishBtn btn btn-primary" onclick="window.location.href = '/toIndex'">发布博客</button>-->
                    <button type="button" class="surePublishBtn btn btn-primary">发布文章</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<script th:src="@{/dist/js/jquery.min.js}"></script>
<script th:src="@{/dist/js/bootstrap.js}"></script>
<script th:src="@{/dist/js/editormd/editor.js}"></script>
<script th:src="@{/dist/js/editormd/editormd.js}"></script>
</body>
</html>