<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/5/4
  Time: 15:26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 使用X-UA-Compatible来设置IE浏览器兼容模式，最新的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
        viewport表示用户是否可以缩放页面;width指定视区的逻辑宽度;
        device-width指示视区宽度应为设备的屏幕宽度;
        initial-scale指令用于设置web页面的初始缩放比例;
        initial-scale=1则将显示未经缩放的web文档
     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息修改</title>
    <!-- 网页图标引入 -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" >
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">



    <!--    <link href="form_builder/style.min862f.css" rel="stylesheet" th:href="@{/dist/css/user/style.min862f.css}">-->
    <!--    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/dist/css/user/index.css}">-->
</head>
<body>
<div th:replace="~{commons/commons.html::topbar}"></div>

<div style="padding-top: 3%; padding-left: 5%; padding-right: 5%; padding-bottom: 10%">
    <div class="col-sm-3"></div>
    <form class="form-horizontal col-sm-6">
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="old-password">旧密码：</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="旧密码" id="old-password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="new-password">新密码：</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="请输入新密码" id="new-password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="new-password-again">确认密码：</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="请再输入一次新密码" id="new-password-again" required>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6" style="text-align: center">
            <button type="submit" class="btn btn-primary">修改</button>
        </div>
    </form>
</div>

<hr style=" padding-bottom: 50px"/>


<div th:replace="~{commons/commons.html::buttombar}"></div>



<script th:src="@{/dist/js/jquery.min.js}"></script>
<script th:src="@{/dist/js/bootstrap.js}"></script>

</body>
</html>