<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/5/4
  Time: 15:26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 使用X-UA-Compatible来设置IE浏览器兼容模式，最新的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
        viewport表示用户是否可以缩放页面;width指定视区的逻辑宽度;
        device-width指示视区宽度应为设备的屏幕宽度;
        initial-scale指令用于设置web页面的初始缩放比例;
        initial-scale=1则将显示未经缩放的web文档
     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息修改</title>
    <!-- 网页图标引入 -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" >
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">



    <!--    <link href="form_builder/style.min862f.css" rel="stylesheet" th:href="@{/dist/css/user/style.min862f.css}">-->
    <!--    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/dist/css/user/index.css}">-->
</head>
<body>
<div th:replace="~{commons/commons.html::topbar}"></div>

<div style="padding-top: 3%; padding-left: 5%; padding-right: 5%; padding-bottom: 15%">
    <div class="form-horizontal col-sm-offset-3 col-sm-6">
        <div class="form-group" >
            <label class="col-sm-3 control-label" for="old-password">旧密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="旧密码" id="old-password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="new-password">新密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="请输入新密码" id="new-password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="new-password-again">确认密码：</label>
            <div class="col-sm-9"  id="check">
                <input type="password" class="form-control" placeholder="请再输入一次新密码" id="new-password-again" required data-dismiss="alert" aria-label='Close'>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6" style="text-align: center">
            <button type="button" class="btn btn-primary" id="updPasswordBtn" onclick="updPasswordBtnFunction()">修改</button>
        </div>
    </div>
</div>

<hr style=" padding-bottom: 50px"/>


<div th:replace="~{commons/commons.html::buttombar}"></div>



<script th:src="@{/dist/js/jquery.min.js}"></script>
<script th:src="@{/dist/js/bootstrap.js}"></script>
<script>
    let oldPassword = $('#old-password');
    let newPassword = $('#new-password');
    let newPasswordSure = $('#new-password-again');
    let updPasswordBtn = $('updPasswordBtn');

    let check = $('#check');
    newPasswordSure.bind("input property-change",function(event) {
       if (newPasswordSure.val() !== newPassword.val()) {
           check.append("<div id='divPasswordAgain' style='margin-top: 20px' aria-label='Close'></div>");
           let divPasswordAgain = $('#divPasswordAgain');
           divPasswordAgain.addClass("alert alert-danger alert-dismissible")
           divPasswordAgain.html("两次密码必须一样.");
       }else {
           let divPasswordAgain = $('#divPasswordAgain');
           divPasswordAgain.remove()
       }
    });

    function updPasswordBtnFunction() {
        $.ajax({
            type: "POST",
            url: "/updPassword",
            traditional: true,// 传数组
            data: {
                oldPassword : oldPassword.val(),
                newPassword : newPassword.val()
            },
            contentType:"application/x-www-form-urlencoded; charset=utf-8",
            dataType:"json",
            success: function (data){
                //修改成功
                // console.log(data);
                if (data['code'] === 1) {
                    // updPasswordBtn.addClass("data-toggle='modal' data-target='#myModal'");

                    $('body').append("<div class=\"modal fade\" tabindex=\"-1\" role=\"dialog\" id='myModal'>\n" +
                        "  <div class=\"modal-dialog\" role=\"document\">\n" +
                        "    <div class=\"modal-content\">\n" +
                        "      <div class=\"modal-header\">\n" +
                        "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                        "        <h4 class=\"modal-title\">"+ data['message'] +"</h4>\n" +
                        "      </div>\n" +
                        "      <div class=\"modal-body\">\n" +
                        "        <p>修改成功\t&#128516;，是否马上进行登录？</p>\n" +
                        "      </div>\n" +
                        "      <div class=\"modal-footer\">\n" +
                        "        <a type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\" href='/toIndex'>返回首页</a>\n" +
                        "        <a type=\"button\" class=\"btn btn-primary\" href='/toLogin'>立即登录</a>\n" +
                        "      </div>\n" +
                        "    </div><!-- /.modal-content -->\n" +
                        "  </div><!-- /.modal-dialog -->\n" +
                        "</div>")
                    $('#myModal').modal();
                }
                if (data['code'] === 0) {
                    alert("请求失败！请稍后重试或者联系管理员QAQ")
                }
                if (data['code'] === 4002) {
                    alert(data['message'])
                }
            }
        });
    }


</script>

</body>
</html>