<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/4/13
  Time: 22:35
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500错误</title>
</head>
<body>
this is 500error page!

<input type="hidden" th:if="${updUserMsg != null}" th:value="${updUserMsg}" id="updUserMsg">

<script>
    let updUserMsg = $('#updUserMsg') ;
    if (typeof(updUserMsg.val()) !== "undefined") {
        alert(updUserMsg.val());
    }
</script>
</body>
</html>