<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/3/19
  Time: 15:29
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 使用X-UA-Compatible来设置IE浏览器兼容模式，最新的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
        viewport表示用户是否可以缩放页面;width指定视区的逻辑宽度;
        device-width指示视区宽度应为设备的屏幕宽度;
        initial-scale指令用于设置web页面的初始缩放比例;
        initial-scale=1则将显示未经缩放的web文档
     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎来到攀枝花学院校友管理</title>
    <!-- 网页图标引入 -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" >

    <link rel="stylesheet" th:href="@{/dist/css/my.css}">
    <link rel="stylesheet" th:href="@{/dist/css/calender/calender.css}">
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row clearfix" style="padding-top: 3%; padding-left: 5%; padding-right: 5%; padding-bottom: 3%">

        <div class="col-md-2 column" style="position: relative; margin-top: 100px">

            <img alt="140x140" src="http://cdn.ibootstrap.cn/lorempixel.com/140/140/default.jpg" class="img-circle" th:src="@{/img/logo.jpg}" style="width: 140px; height: 140px; position: relative; left: 25%"/>

            <div class="page-header">
                <h1 style="text-align: center">
                    欢迎来到攀枝花学院校友管理系统！！
                </h1>
            </div>
        </div>
        <div class="col-md-8 column">
            <!-- 头部导航栏 -->
            <div th:replace="~{commons/commons.html::topbar(active = 'news')}"></div>
            <div class="carousel slide" id="carousel-794671">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-794671">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-794671">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-794671" class="active">
                    </li>
                </ol>
                <div class="carousel-inner" style="height: 570px">
                    <div class="item" th:each="article : ${top2Article}" >
                        <img alt="" th:src="@{/newsArticle/} + ${article.getNewImageName()}" style="width: 1113px; height: 570px"/>
                        <div class="carousel-caption">
                            <h2 th:text="${article.getNewArticleTitle()}">

                            </h2>
                            <a th:text="${article.getNewArticleTabloid()}" th:href="@{/article/show/} + ${article.getNewArticleId}" style="color: white">

                            </a>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="" th:src="@{/newsArticle/} + ${lastArticle.getNewImageName()}" style="width: 1113px; height: 570px"/>
                        <div class="carousel-caption">
                            <h2 th:text="${lastArticle.getNewArticleTitle()}">

                            </h2>
                            <a th:text="${lastArticle.getNewArticleTabloid()}" th:href="@{/article/show/} + ${lastArticle.getNewArticleId}" style="color: white">

                            </a>
                        </div>
                    </div>
                    <!--<div class="item">
                        <img alt="" th:src="@{/img/Rotation_2.jpg}" />
                        <div class="carousel-caption">
                            <h4>
                                Second Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="" th:src="@{/img/Rotation_3.jpg}" />
                        <div class="carousel-caption">
                            <h4>
                                Third Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>-->
                </div> <a class="left carousel-control" href="#carousel-794671" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-794671" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-md-2 column">
            <div style="text-align: center; position: absolute; top: 50px">
                <h3 id="calenderTitle">
                    <b>校园日历</b><small>自律攀大人</small>
                </h3>
            </div>
            <div id="CalendarMain">
                <div id="title"> <a class="selectBtn month" href="javascript:" onClick="CalendarHandler.CalculateLastMonthDays();"><</a><a class="selectBtn selectYear" href="javascript:" onClick="CalendarHandler.CreateSelectYear(CalendarHandler.showYearStart);">2014年</a><a class="selectBtn selectMonth" onClick="CalendarHandler.CreateSelectMonth()">6月</a> <a class="selectBtn nextMonth" href="javascript:" onClick="CalendarHandler.CalculateNextMonthDays();">></a><a class="selectBtn currentDay" href="javascript:" onClick="CalendarHandler.CreateCurrentCalendar(0,0,0);">今天</a></div>
                <div id="context">
                    <div class="week">
                        <h3> 一 </h3>
                        <h3> 二 </h3>
                        <h3> 三 </h3>
                        <h3> 四 </h3>
                        <h3> 五 </h3>
                        <h3> 六 </h3>
                        <h3 style="position: relative; bottom: 5px"> 日 </h3>
                    </div>
                    <div id="center">
                        <div id="centerMain">
                            <div id="selectYearDiv"></div>
                            <div id="centerCalendarMain">
                                <div id="Container"></div>
                            </div>
                            <div id="selectMonthDiv"></div>
                        </div>
                    </div>
                    <div id="foots"><a id="footNow">19:14:34</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
<!--            <h3>大家都在聊:</h3>-->
            <ul>
                <li th:each="forum : ${top8Forum}">
                    <a th:href="@{/forum/show/} + ${forum.getForumId}" th:text="${forum.getForumTitle()}" style="color: black"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 column">
            <tr th:each="newsArticle:${newsArticleList}" id="article">
                <div class="my-solid">
                    <div class="media">
                        <div class="media-left media-middle" style="position: relative; top: 12px">
                            <a th:href="@{/article/show/} + ${newsArticle.getNewArticleId}">
                                <img class="media-object" th:src="@{/newsArticle/} + ${newsArticle.getNewImageName()}" src="..." alt="..." style="height: 80px; width: 88px">
                            </a>
                        </div>
                        <div class="media-body">
                            <td>
                                <h2 th:text="${newsArticle.getNewArticleTitle}">

                                </h2>
                            </td>
                            <td>
                                <p th:text="${newsArticle.getNewArticleTabloid}">

                                </p>
                            </td>
                            <td>
                                <p>
                                    <a class="btn" th:href="@{/article/show/} + ${newsArticle.getNewArticleId}">阅读全文 »</a>
                                </p>
                            </td>
                        </div>
                    </div>
                </div>

            </tr>
        </div>
        <div class="col-md-2 column">
            <div class="row">
                <div class="col-md-6" th:each="alumniHelp : ${top2AlumniHelp}">
                    <div class="thumbnail">
                        <img alt="300x200" th:src="@{/helpPhotos/} + ${alumniHelp.getHelpHeadImage()}"/>
                        <div class="caption">
                            <h3 th:text="${alumniHelp.getHelpTitle()}">

                            </h3>
                            <p th:text="${alumniHelp.getHelpTabloid()}">

                            </p>
                            <p>
                                <a class="btn btn-primary" th:href="@{/help/alumniHelp/show/} + ${alumniHelp.getHelpId}">查看</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="row clearfix">
        <div class="col-md-12 column">
            <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
        </div>
    </div>-->
    <div th:replace="~{commons/commons.html::buttombar}"></div>
    <input type="hidden" th:if="${unAuthorized != null}" th:value="${unAuthorized}" id="unAuthorized">
    <input type="hidden" th:if="${updUserMsg != null}" th:value="${updUserMsg}" id="updUserMsg">

</div>


<script src="static/js/jquery-3.5.0.min.js" th:src="@{/dist/js/jquery-3.5.0.min.js}"></script>
<script th:src="@{/dist/js/bootstrap.js}"></script>
<script th:src="@{/dist/js/calender/calender.js}"></script>
<!-- 没用到 -->
<script th:inline="javascript">
    let unAuthorized = $('#unAuthorized') ;
    let updUserMsg = $('#updUserMsg') ;
    $(document).ready(function () {
        $.ajax({
            url: "/findAllNewsArticle",
            type: "GET",
            success: function (data) {
                //处理返回的json对象
                // console.log(data);
            },
            dataType: "json",
            error: function (XMLHttpRequest,status) {
                alert("请求异常，请稍后再试！ 状态代码："+XMLHttpRequest.status+"  状态："+status);
            },
        })
    })


    if (typeof(unAuthorized.val()) !== "undefined") {
        alert(unAuthorized.val());
    }
    if (typeof(updUserMsg.val()) !== "undefined") {
        alert(updUserMsg.val());
    }


</script>
</body>
</html>